* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #0f1013;
  color: #f6f6f6;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  border-bottom: 2px solid #f6f6f6;
  background-color: #08080a;
  min-width: 100vw;
}

.navbar {
  margin-right: 10px;
}

.menuBtnOpen,
.menuBtnClose {
  display: none;
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.lista ul {
  padding: 0;
}

.lista li {
  list-style: none;
}

.lista a {
  text-decoration: none;
  color: #f6f6f6;
  font-size: 20px;
}

.h2__span {
  background: linear-gradient(to right, #e0e0e0, #01e6c7b7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 100%;
  min-height: 100vh;
  padding: 2rem;
}

.main__title {
  margin-bottom: 1.5rem;
}

.gradiante__mexico {
  background: linear-gradient(135deg, #006847 0%, #ffffff 33%, #d52b1e 67%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradiante__usa {
  background: linear-gradient(to right, #b22234 0%, #ffffff 50%, #3c3b6e 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradiante__canada {
  background: linear-gradient(to right, #ff0000 0%, #ffffff 50%, #ff0000 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.botones {
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 1.5rem;
}

.button {
  background-color: #d6d6d6;
  border: none;
  color: #3b3b3b;
  height: 50px;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.button:not(.button-active):hover {
  background: #ffffff;
  color: #000000;
  animation: 0.3s ease-in-out;
  transform: scale(1.1);
}

.button-active {
  background: #ffffff;
  color: #000000;
  font-weight: 600;
}

.clasificiacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  min-width: 100%;
}

.secction__table {
  background-color: #0f1013;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px #535353;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: left;
  color: #ffffff;
  margin-bottom: 50px;
}

.secction__table thead {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #e7e7e7;
  text-transform: uppercase;
  text-align: center;
}

.secction__table th {
  padding: 0.75rem 1rem;
  font-weight: 600;
  border-bottom: 1px solid #ffffff;
}

.secction__table tr {
  border-bottom: 1px solid #d1d5db;
  text-align: center;
}

.secction__table td {
  padding: 0.75rem 1rem;
  font-size: 16px;
}

.text-success {
  color: #caffc3;
}

.text-danger {
  color: #ffadad;
}

.text-warning {
  color: #ffd6a5;
}

/*seccion resultados*/
.resultado {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  min-width: 100%;
  min-height: 100vh;
}

.jornadas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  width: 100%;
}

.jornadas_button {
  background-color: #f6f6f6;
  border: 1px solid #08080a;
  color: #3b3b3b;
  height: 50px;
  padding: 15px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

.jornadas_button:nth-child(1) {
  border-radius: 15px 0 0 15px;
}

.jornadas_button:last-child {
  border-radius: 0 15px 15px 0;
}

.active {
  background-color: #c0c0c0;
  color: #000;
  transform: scale(1.1);
}

.jornada_partido {
  margin-top: 26px;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 26px;
}

.partido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #1b1b1b;
  box-shadow: 0 0 20px 1px #6d6d6d;
  border-radius: 15px;
  padding: 15px;
  min-width: 300px;
  margin-top: 35px;
  transition: 0.3s ease-in-out;
}

.partido:hover {
  transform: scale(1.1);
}

.encuentro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin: 16px;
}

.goles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.fecha span {
  color: #f6f6f6;
  font-weight: bold;
}

.proximos_partidos {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  min-width: 100%;
  min-height: 100vh;
}

.proximos_encuentros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  margin-top: 26px;
}

.proximo_encuentro {
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 40px;
  margin-top: 45px;
  border-radius: 15px;
  box-shadow: 0 0 20px 1px #6d6d6d;
  transition: 0.3s ease-in-out;
  min-width: 300px;
}

.proximo_encuentro:hover {
  transform: scale(1.1);
}

.proximo_encuentro_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.team_info {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.team_content_name {
  text-align: center;
}

.team_info img {
  width: 50px;
  height: 50px;
}

.proximo_encuentro_fecha p {
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: #f6f6f6;
  font-size: 20px;
  margin: 0 10px;
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.arrow-up {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.arrow-up:hover {
  transform: scale(1.2);
}

.github-icon {
  width: 30px;
  height: 30px;
  fill: #f6f6f6;
  transition: 0.3s ease-in-out;
}

.github-icon:hover {
  transform: scale(1.2);
}

/** ========================================================================== **/
/** CSS PARA LA PAGINA GOLEADORES **/
.header_goleadores {
  padding: 20px 0;
}

.seccion_goleadores {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.seccion_goleadores div {
  background-color: #3c3b6e;
  width: 300px;
  height: 150px;
}

.div1 {
  grid-area: 3 / 9 / 5 / 13;
}
.div2 {
  grid-area: 1 / 7 / 3 / 11;
}
.div3 {
  grid-area: 3 / 5 / 5 / 9;
}
.div4 {
  grid-area: 5 / 3 / 7 / 7;
}
.div5 {
  grid-area: 5 / 11 / 7 / 15;
}
.div6 {
  grid-area: 5 / 7 / 7 / 11;
}
.div7 {
  grid-area: 7 / 1 / 9 / 5;
}
.div8 {
  grid-area: 7 / 5 / 9 / 9;
}
.div9 {
  grid-area: 7 / 9 / 9 / 13;
}
.div10 {
  grid-area: 7 / 13 / 9 / 17;
}

/** media querys**/

@media (max-width: 1280px) {
  .navbar {
    margin-right: 25px;
  }
}

@media (max-width: 1024px) {
  main {
    top: 100px;
    padding: 0.75rem;
  }

  .secction__table {
    margin-right: 10px;
  }

  .secction__table thead tr th {
    width: 100px;
  }

  .secction__table tbody tr td:nth-child(2) {
    width: 125px;
  }
}

@media screen and (max-width: 768px) {
  .active-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #08080a;
    opacity: 0.99;
  }

  .header__title {
    text-wrap: pretty;
  }

  .navbar {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .lista {
    flex-direction: column;
    margin-left: 16px;
  }

  .header {
    padding: 20px;
  }

  .header__title img {
    display: none;
  }

  .menuBtnOpen,
  .menuBtnClose {
    margin-top: 8px;
    margin-right: 8px;
  }

  .menuBtnOpen {
    display: block;
  }

  .main__title {
    text-align: center;
  }

  .secction__table {
    margin-right: 0px;
    width: 100%;
  }
  .secction__table {
    border-radius: 10px;
    width: 100%;
    background-color: #0f1013;
  }

  /*quita los estilos hover*/
  .button:not(.button-active):hover {
    background: #888888;
    color: #3b3b3b;
    animation: 0.3s ease-in-out;
    transform: scale(1);
    cursor: pointer;
  }

  .secction__table th:nth-child(7),
  .secction__table th:nth-child(8),
  .secction__table td:nth-child(7),
  .secction__table td:nth-child(8) {
    display: none;
  }
}

@media (max-width: 640px) {
  .header__title img {
    display: none;
  }

  .botones {
    gap: 9px;
  }

  .jornadas_button span {
    font-size: 13px;
  }
  .clasificiacion {
    width: 100%;
  }

  .secction__table {
    border-radius: 10px;
  }

  /*ocultar las columnas 5,6,7,8 de la tabla*/
  .secction__table th:nth-child(5),
  .secction__table th:nth-child(6),
  .secction__table th:nth-child(7),
  .secction__table th:nth-child(8),
  .secction__table td:nth-child(5),
  .secction__table td:nth-child(6),
  .secction__table td:nth-child(7),
  .secction__table td:nth-child(8) {
    display: none;
  }
}

@media screen and (max-width: 395px) {
  .jornadas_button span {
    font-size: 12px;
  }

  .secction__table th:nth-child(4),
  .secction__table th:nth-child(5),
  .secction__table th:nth-child(6),
  .secction__table th:nth-child(7),
  .secction__table th:nth-child(8),
  .secction__table td:nth-child(4),
  .secction__table td:nth-child(5),
  .secction__table td:nth-child(6),
  .secction__table td:nth-child(7),
  .secction__table td:nth-child(8) {
    display: none;
  }
}
/*de arriba hacia abajo*/

.header.active-header .navbar {
  display: flex;
  animation: openMenu 0.5s forwards;
}

@keyframes openMenu {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes closeMenu {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
